*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #576574;
}
.card_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 100px;
}
.card{
    width: 300px;
    background-color: #0abde3;
    border-radius: 0px 15px 30px 0px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: transform 0.2 ease;
    border-left: 5px solid;
    border-image: linear-gradient(red ,blue) 0 100%;
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.content{
    padding: 20px;
}
h2{
    font-size: 25px;
    margin-bottom: 15px;
}
p{
    font-size: 18px;
    color: #3d3d3d;
    margin-bottom: 10px;
}
.button{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(red , black);
    color: azure;
    font-weight: 500px;
    border-radius: 20px;
}
.card:hover{
    transform: translateY(-20px);
}